<h1>Show PTSA Member</h1>
<fieldset>
<legend><%= "#{@ptsa_member.display_name}" %> - <%= link_to 'Edit', edit_ptsa_member_path(@ptsa_member) %></legend>
<dl>
  <dt>Position</dt>
  <dd><%=h @ptsa_member.position %></dd>
  <dt>Position Type</dt>
  <dd><%=h @ptsa_member.position_type %></dd>
  <dt>Email</dt>
  <dd><%=h @ptsa_member.email %></dd>
</dl>
</fieldset>
