<h1><%=h "#{@student.display_name}" %></h1>
<p><%= link_to 'Edit', edit_student_path(@student) %></p>
<dl>
  <dt>Graduation Year</dt>
  <dd><%=h @student.graduation_year %></dd>
  <dt>Grade</dt>
  <dd><%=h @student.grade %></dd> 
  <dt>Teacher</dt>
  <dd><%=h @student.teacher.display_name %></dd> 
  <dt>Room</dt>
  <dd><%=h @student.teacher.location %></dd> 
</dl>
<h2>Parents</h2>
<%= render 'layouts/parent_list' %>  
