<h1>Directory</h1>
<h2>Administrative Positions</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Location</th>
    <th>Name</th>
    <th>Email Addresses</th>
  </tr>
  <% @teachers_administrative.each do |teacher| %>
  <tr>
    <td><%= teacher.position %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
  <% end %>
</table>


<h2>Classroom Teachers</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Location</th>
    <th>Name</th>
    <th>Email Addresses</th>
  </tr>
  <% @teachers_teacher.each do |teacher| %>
  <tr>
    <td><%= teacher.position %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
  <% end %>
</table>


<h2>Specialists and Support Staff</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Location</th>
    <th>Name</th>
    <th>Email Addresses</th>
  </tr>
  <% @teachers_specialist.each do |teacher| %>
  <tr>
    <td><%= teacher.position %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
  <% end %>
</table>


<h2>PTSA Board Members</h2>
<table>
  <tr>
    <th>Executive Board Positions</th>
    <th>Officer</th>
    <th>Email Addresses</th>
  </tr>
  <% @ptsa_board_members_executive_board.each do |ptsa_board_member| %>
  <tr>
    <td><%= ptsa_board_member.position %></td>
    <td><%= ptsa_board_member.display_name %></td>
    <td><%= ptsa_board_member.email %></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Executive Board Positions</th>
    <th>Officer</th>
    <th>Email Addresses</th>
  </tr>
  <% @ptsa_board_members_board.each do |ptsa_board_member| %>
  <tr>
    <td><%= ptsa_board_member.position %></td>
    <td><%= ptsa_board_member.display_name %></td>
    <td><%= ptsa_board_member.email %></td>
  </tr>
  <% end %>
</table>



<% @teachers_teacher.each do |teacher| %>
  <% next if teacher.students.count == 0 %>
  <h2><%= teacher.display_name %></h2>
  <div><%= teacher.email %></div>
  <div><strong>Grade:</strong> <%= teacher.grade %></div>
  <div><strong>Room:</strong>  <%= teacher.location %></div>

  <table style="width:0%;">
    <tr>
      <th style="vertical-align:top; width:150px">Student</th>
      <th>
        <table style="width:0%; margin-bottom:0px">
          <tr>
            <th style="width:150px">Parents / Guardians</th>
            <th style="width:90px" >Home Ph.</th>
            <th style="width:270px">Steet Address</th>
            <th style="width:210px">Emai Addresses</th>
          </tr>
        </table>
      </th>
      <th style="vertical-align:top; width:30px">Gr.</th>
    </tr>
    <% teacher.students.each do |student| %>
    <tr>
      <td style="width:150px; vertical-align:top;"><%= student.display_name %></td>
      <td>
        <table style="width:0%; margin-bottom:0px;">
          <% student.parents.each do |parent| %>
          <tr>
            <td style="width:150px;"><%= parent.display_name %></td>
            <td style="width:90px;" ><%= parent.home_phone %></td>
            <td style="width:270px;"><%= "#{parent.address_line_1} #{parent.address_line_2} #{parent.city} #{parent.state} #{parent.zip}" %></td>
            <td style="width:210px;"><%= parent.email %></td>
          </tr>
          <% end %>
        </table>
      </td>
      <td style="vertical-align:top; width:30px;"><%= student.grade %></td>
    </tr>
    <% end %>
  </table>
<% end %>
