<h1>Directory</h1>
<h2>Administrative Positions</h2>
<table>
  <tr>
    <th>Position</th>
    <th>Location</th>
    <th>Name</th>
    <th>Email Address</th>
  </tr>
<% @teachers_administrative.each do |teacher| %>
  <tr>
    <td><%= teacher.position %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
<% end %>
</table>

<h2>Classroom Teachers</h2>
<table>
  <tr>
    <th>Grade</th>
    <th>Location</th>
    <th>Position</th>
    <th>Name</th>
    <th>Email Address</th>
  </tr>
<% @teachers_teacher.each do |teacher| %>
  <tr>
    <td><%= teacher.grade %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.position %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
<% end %>
</table>

<h2>Specialists and Support Staff</h2>
<table>
  <tr>
    <th>Grade</th>
    <th>Location</th>
    <th>Position</th>
    <th>Name</th>
    <th>Email Address</th>
  </tr>
<% @teachers_specialist.each do |teacher| %>
  <tr>
    <td><%= teacher.grade %></td>
    <td><%= teacher.location %></td>
    <td><%= teacher.position %></td>
    <td><%= teacher.display_name %></td>
    <td><%= teacher.email %></td>
  </tr>
<% end %>
</table>


<h2>PTSA Council</h2>
<table>
  <tr>
    <th>Executive Board Positions</th>
    <th>Officer</th>
    <th>Email Address</th>
  </tr>
<% @ptsa_members_executive_board.each do |ptsa_member| %>
  <tr>
    <td><%= ptsa_member.position %></td>
    <td><%= ptsa_member.display_name %></td>
    <td><%= ptsa_member.email %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Board Positions</th>
    <th>Officer</th>
    <th>Email Address</th>
  </tr>
<% @ptsa_members_board.each do |ptsa_member| %>
  <tr>
    <td><%= ptsa_member.position %></td>
    <td><%= ptsa_member.display_name %></td>
    <td><%= ptsa_member.email %></td>
  </tr>
<% end %>
</table>

<% @teachers_teacher.each do |teacher| %>
  <div class="span-24 last dir-container">
    <div class="span-24 last dir-container-header" style="border-bottom-width:3px; border-top-width:3px; border-style: double;">
      <div class="span-4">Room: <%= teacher.location %><br>Grade: <%= teacher.grade %></div>
      <div class="span-12">Jane Addams K-8 2009-2010 Directory</div>
      <div class="span-8 last">Teacher: <%= teacher.display_name %><br>email: <%= teacher.email %></div>
    </div>
    <div class="span-24 last dir-container-record" style="border-bottom-width:1px; border-style: solid;">
      <div class="span-4"><b>Student</b></div>
      <div class="span-4">Parents / Guardians</div>
      <div class="span-3">Home Ph.</div>
      <div class="span-7">Steet Address</div>
      <div class="span-5">Emai Addresses</div>
      <div class="span-1 last">Gr.</div>
    </div>
    <% teacher.students.each do |student| %>
      <div class="span-24 last dir-container-record" style="border-bottom-width:1px; border-style: solid;">
        <div class="span-4" ><%= student.display_name %></div>
        <div class="span-19">
        <% student.parents.each do |parent| %>
          <div class="span-19 last">
            <div class="span-4"><%= parent.display_name %></div>
            <div class="span-3" style="height:18px"><%= parent.home_phone %></div>
            <div class="span-7"><%= "#{parent.address_line_1} #{parent.address_line_2} #{parent.city} #{parent.state} #{parent.zip}" %></div>
            <div class="span-5 last"><%= parent.email %></div>
          </div>
        <% end %>
        </div>
        <div class="span-1 last"><%= student.grade %></div>
      </div>
    <% end %>
  </div>
<% end %>
