<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/blueprint/screen.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]><link href="/stylesheets/blueprint/ie.css?1280990680" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <link href="/stylesheets/custom.css" media="screen,print" rel="stylesheet" type="text/css" />
  </head>
  <body>

<div class="container">

<div class="span-24 last dir-container">
  <div class="span-24 last dir-container-header"><h2>PTSA Council</h2></div>
  <div class="span-24 last dir-container-record">
    <div class="span-8">Executive Board Positions</div>
    <div class="span-8">Officer</div>
    <div class="span-8 last">Email Addresses</div>
  </div>
  <% @ptsa_members_executive_board.each do |ptsa_member| %>
  <div class="span-24 last dir-container-record">
    <div class="span-8"><%= ptsa_member.position %></div>
    <div class="span-8"><%= ptsa_member.display_name %></div>
    <div class="span-8 last"><%= ptsa_member.email %></div>
  </div>
  <% end %>
  <div class="span-24 last dir-container-record">
    <div class="span-8">Board Positions</div>
    <div class="span-8">Officer</div>
    <div class="span-8 last">Email Addresses</div>
  </div>
  <% @ptsa_members_board.each do |ptsa_member| %>
  <div class="span-24 last dir-container-record">
    <div class="span-8"><%= ptsa_member.position %></div>
    <div class="span-8"><%= ptsa_member.display_name %></div>
    <div class="span-8 last"><%= ptsa_member.email %></div>
  </div>
  <% end %>
</div>
<div class="span-24 last dir-container">
  <div class="span-24 last dir-container-header"><h2>Administrative Positions</h2></div>
  <div class="span-24 last dir-container-record">
    <div class="span-6">Position</div>
    <div class="span-6">Location</div>
    <div class="span-6">Name</div>
    <div class="span-6 last">Email Addresses</div>
  </div>
  <% @teachers_administrative.each do |teacher| %>
  <div class="span-24 last dir-container-record">
    <div class="span-6"><%= teacher.position %></div>
    <div class="span-6"><%= teacher.location %></div>
    <div class="span-6"><%= teacher.display_name %></div>
    <div class="span-6 last"><%= teacher.email %></div>
  </div>
  <% end %>
</div>

<div class="span-24 last dir-container">
  <div class="span-24 last dir-container-header"><h2>Classroom Teachers</h2></div>
  <div class="span-24 last dir-container-record">
    <div class="span-3">Grade</div>
    <div class="span-3">Location</div>
    <div class="span-6">Position</div>
    <div class="span-6">Name</div>
    <div class="span-6 last">Email Addresses</div>
  </div>
  <% @teachers_teacher.each do |teacher| %>
  <div class="span-24 last dir-container-record">
    <div class="span-3"><%= teacher.grade %>&nbsp;</div>
    <div class="span-3"><%= teacher.location %>&nbsp;</div>
    <div class="span-6"><%= teacher.position %>&nbsp;</div>
    <div class="span-6"><%= teacher.display_name %>&nbsp;</div>
    <div class="span-6 last"><%= teacher.email %>&nbsp;</div>
  </div>
  <% end %>
</div>

<div class="span-24 last dir-container">
  <div class="span-24 last dir-container-header"><h2>Specialists and Support Staff</h2></div>
  <div class="span-24 last dir-container-record">
    <div class="span-3">Grade</div>
    <div class="span-3">Location</div>
    <div class="span-6">Position</div>
    <div class="span-6">Name</div>
    <div class="span-6 last">Email Addresses</div>
  </div>
  <% @teachers_specialist.each do |teacher| %>
  <div class="span-24 last dir-container-record">
    <div class="span-3"><%= teacher.grade %>&nbsp;</div>
    <div class="span-3"><%= teacher.location %>&nbsp;</div>
    <div class="span-6"><%= teacher.position %>&nbsp;</div>
    <div class="span-6"><%= teacher.display_name %>&nbsp;</div>
    <div class="span-6 last"><%= teacher.email %>&nbsp;</div>
  </div>
  <% end %>
</div>


<% @teachers_teacher.each do |teacher| %>
  <div class="span-24 last dir-container">
    <div class="span-24 last dir-container-header">
      <div class="span-4">Room: <%= teacher.location %><br>Grade: <%= teacher.grade %></div>
      <div class="span-14" style="text-align:center"><h3>Jane Addams K-8 2009-2010 Directory</h3></div>
      <div class="span-6 last">Teacher: <%= teacher.display_name %><br>email: <%= teacher.email %></div>
    </div>
    <div class="span-24 last dir-container-record">
      <div class="span-4"><strong>Student</strong></div>
      <div class="span-4"><strong>Parents / Guardians</strong></div>
      <div class="span-3"><strong>Home Ph.</strong></div>
      <div class="span-7"><strong>Steet Address</strong></div>
      <div class="span-5"><strong>Emai Addresses</strong></div>
      <div class="span-1 last"><strong>Gr.</strong></div>
    </div>
    <% teacher.students.each do |student| %>
      <div class="span-24 last dir-container-record">
        <div class="span-4" ><%= student.display_name %>&nbsp;</div>
        <div class="span-19">
        <% student.parents.each do |parent| %>
          <div class="span-19 last">
            <div class="span-4"><%= parent.display_name %>&nbsp;</div>
            <div class="span-3"><%= parent.home_phone %>&nbsp;</div>
            <div class="span-7"><%= "#{parent.address_line_1} #{parent.address_line_2} #{parent.city} #{parent.state} #{parent.zip}" %>&nbsp;</div>
            <div class="span-5 last"><%= parent.email %>&nbsp;</div>
          </div>
        <% end %>
        </div>
        <div class="span-1 last"><%= student.grade %>&nbsp;</div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
</body>
</html>

