<h1>Yearbook Orders</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Yearbook Qty</th>
    <th>Grade</th>
    <th>Teacher</th>
  </tr>
<% @students.each do |student| %>
      <td><%= link_to student.display_name, student %></td>
      <td><%= student.yearbook_qty %></td>
      <td><%=h student.grade %></td>
      <td><%= link_to student.teacher.display_name, student.teacher if student.teacher %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
    </tr>
<% end %>
</table>

