<h1>Show Teacher</h1>
<p><%= notice %></p>
<fieldset>
<legend><%= "#{@teacher.display_name}" %> - <%= link_to 'Edit', edit_teacher_path(@teacher) %></legend>
<dl>
  <dt>Position</dt>
  <dd><%=h @teacher.position %></dd>
  <dt>Position Type</dt>
  <dd><%=h @teacher.position_type %></dd>
  <dt>Email</dt>
  <dd><%=h @teacher.email %></dd>
  <dt>Grade</dt>
  <dd><%=h @teacher.grade %></dd>
  <dt>Location</dt>
  <dd><%=h @teacher.location %></dd>
</dl>
<fieldset>
<legend>Students</legend>
<%= render 'layouts/student_list' %>
</fieldset>
</fieldset>
