<h1><%=h "#{@teacher.display_name}" %></h1>
<p><%= link_to 'Edit', edit_teacher_path(@teacher) %></p>
<dl>
  <dt>Position</dt>
  <dd><%=h @teacher.position %></dd>
  <dt>Position Type</dt>
  <dd><%=h @teacher.position_type %></dd>
  <dt>Email</dt>
  <dd><%=h @teacher.email %></dd>
  <dt>Location</dt>
  <dd><%=h @teacher.location %></dd>
</dl>
<h2>Students</h2>
<%= render 'layouts/student_list' %>
