<h1>Show Parent</h1>
<p><%= notice %></p>
<fieldset>
<legend><%= "#{@parent.display_name}" %> - <%= link_to 'Edit', edit_parent_path(@parent) %></legend>
<dl>
  <dt>Email</dt>
  <dd><%=h @parent.email %></dd>
  <dt>Home Phone</dt>
  <dd><%=h @parent.home_phone %></dd>
  <dt>Cell Phone</dt>
  <dd><%=h @parent.cell_phone %></dd>
  <dt>Address</dt>
  <dd><%=h @parent.address_line_1 %></dd>
  <dd><%=h @parent.address_line_2 %></dd>
  <dd><%=h "#{@parent.city} #{@parent.state}, #{@parent.zip}" %></dd>
  <dt>Properties</dt>
  <dd>Show cell phone: <b><%= @parent.show_cell_phone ? 'yes' : 'no' %></b></dd>
  <dd>Yahoo mailing list: <b><%= @parent.mailing_list ? 'yes' : 'no'%></b></dd>
  <dd>PTSA Member: <b><%= @parent.ptsa_member ? 'yes' : 'no' %></b></dd>
  <dd>PTSA Member Id: <b><%= @parent.ptsa_member_id %></b></dd>
  <dd>Publish in directory: <b><%= @parent.publish  ? 'yes' : 'no' %></b></dd>
</dl>
<fieldset>
<legend>Children</legend>
<%= render 'layouts/student_list' %>
</fieldset>
</fieldset>
