<div id="header" class="round">
  <ul class="navigation round">
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Parents", parents_path %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Teachers", teachers_path %></li>
    <li><%= link_to "PTSA Members", ptsa_members_path %></li>
    <li><%= link_to "Directory", directory_path %></li>
  </ul>
</div>

