<% form_for(@parent) do |f| %>
  <%= f.error_messages %>

<fieldset>
  <legend><%= "#{@parent.display_name}" %></legend>
  <table>
    <tr>
      <td>
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
       </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name %><br />
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %><br />
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %><br />
  </div>

      </td>
      <td>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %><br />
  </div>

      </td>
      <td>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %><br />
  </div>

      </td>
      <td>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %><br />
  </div>

      </td>
      <td>
  <div class="field">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %><br />
  </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :home_phone %><br />
          <%= f.text_field :home_phone %><br />
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :cell_phone %><br />
          <%= f.text_field :cell_phone %><br />
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.check_box :publish %>
          <%= f.label :publish, "Show parent in directory?" %><br />
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.check_box :show_cell_phone %>
          <%= f.label :show_cell_phone, "Show cell phone in directory?" %><br />
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.check_box :mailing_list %>
          <%= f.label :mailing_list, "Include email in mailing list?" %><br />
        </div>
      </td>
      <td>
        <div class="field">
        <%= f.check_box :ptsa_member %>
        <%= f.label :ptsa_member, "PTSA member?" %><br />
      </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :ptsa_member_id, "PTSA member id:" %>
          <%= f.text_field :ptsa_member_id, :maxlength => 10 %><br />
        </div>
      </td>
    </tr>
  </table>

<fieldset>
  <legend>Children</legend>
  <% i = 0 %>
  <table>
    <tr>
  <% @students.each do |student| %>
    <td><%= check_box_tag("parent[student_list][#{student.id}]","1",@parent.students.detect{|d| d == student}) %>
    <%= link_to student.display_name, student %></td>
    <%=
      i = i + 1
      if i >= 4
        i = 0
        "</tr>"
        "<tr>"
      end
      %>
  <% end %>
    </tr>
  </table>
</fieldset>
</fieldset>
  <div class"actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
