<% form_for(@teacher) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %><br />
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
  </div>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %><br />
  </div>

  <div class="field">
    <%= f.label :position_type %><br />
    <%= f.text_field :position_type %><br />
  </div>

  <div class="field">
    <%= f.label :position_type %><br />
    <%= f.select :position_type, @ptsa_member.position_types, { :include_blank => true } %>
  </div>

  <div class"actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
