<% form_for(@student) do |f| %>
  <%= f.error_messages %>

<fieldset>
  <legend><%= "#{@student.display_name}" %></legend>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %><br />
  </div>

  <div class="field">
    <%= f.label :graduation_year %><br />
    <%= f.text_field :graduation_year %><br />
  </div>

  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= collection_select(:student, :teacher_id, @teacher, :id, :location_dash_teacher, {:prompt => true}) %>
  </div>

  <div class="field">
    <%= f.label :ptsa_member, "PTSA Member?" %><br />
    <%= f.check_box :ptsa_member %><br />
  </div>

  <div class="field">
    <%= f.label :ptsa_member_id, "PTSA Member Id" %><br />
    <%= f.text_field :ptsa_member_id,:maxlength => 10 %><br />
  </div>
  <div class="field">
    <%= f.label :yearbook %><br />
    <%= f.check_box :yearbook %><br />
  </div>
  <div class="field">
    <%= f.label :yearbook_qty %><br />
    <%= f.text_field :yearbook_qty, :maxlength => 1 %><br />
  </div>

  <fieldset>
    <legend>Parents</legend>
    <% i = 0 %>
    <table>
      <tr>
    <% @parents.each do |parent| %>
      <td><%= check_box_tag("student[parent_list][#{parent.id}]","1",@student.parents.detect{|d| d == parent}) %>
      <%= link_to parent.display_name, parent %></td>
      <%=
        i = i + 1 
        if i >= 4
          i = 0
          "</tr>"
          "<tr>"
        end
      %>
    <% end %>
      </tr>
    </table>
  </fieldset>
</fieldset>

  <div class"actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>

