<% form_for(@student) do |f| %>
  <%= f.error_messages %>

<fieldset>
  <legend><%= "#{@student.display_name}" %></legend>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %><br />
  </div>

  <div class="field">
    <%= f.label :graduation_year %><br />
    <%= f.text_field :graduation_year %><br />
  </div>

  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= collection_select(:student, :teacher_id, @teacher, :id, :location_dash_teacher, {:prompt => true}) %>
  </div>
</fieldset>

<fieldset>
  <legend>Parents</legend>
  <% @parents.each do |parent| %>
    <%= check_box_tag("student[parent_list][#{parent.id}]","1",@student.parents.detect{|d| d == parent}) %>
    <%= "#{parent.display_name}" %> <br />
  <% end %>
</fieldset>

  <div class"actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>

