<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Grade</th>
    <th>Position</th>
    <th>Position Type</th>
    <th>Location</th>
  </tr>

<% @teachers.each do |teacher| %>
    <tr>
      <td><%= link_to teacher.display_name, teacher %></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.grade %></td>
      <td><%= teacher.position %></td>
      <td><%= teacher.position_type %></td>
      <td><%= teacher.location %></td>
      <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Delete', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
</table>

