<% form_for(@teacher) do |f| %>
  <%= f.error_messages %>

<fieldset>
  <legend><%= "#{@teacher.display_name}" %></legend>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %><br />
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %><br />
  </div>

  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %><br />
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %><br />
  </div>

  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %><br />
  </div>

  <div class="field">
    <%= f.label :position_type %><br />
    <%= f.select :position_type, @teacher.position_types, { :include_blank => true } %>
  </div>
</fieldset>

  <div class"actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
